.card-product {
  width: 92%;
  height: 50px;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  border: 1px solid var(--text-color);
  margin-bottom: 10px;
}

.img-title > img {
  margin-right: 30px;
}

.img-title {
  display: flex;
  width: 90%;
}

.title-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin-right: 120px; */
}

.title-product > p {
  margin: 0;
  font-family: 'Nunito';
  color: var(--text-color);
}

.icon-cart {
  cursor: pointer;
}

.icon-cart:hover,
.card-product:hover {
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
}

@media screen and (max-width: 1300px) {
  .title-product {
    margin-right: 100px;
  }
}
