:root {
  --bg-primary: #fffbf5;
  --bg-secondary: #f7efe5;
  --color-primary: #c3acd0;
  --color-secondary: #674188;
  --text-color: #434242;
}

body {
  margin: 0;
  background-color: var(--bg-primary) !important;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
